.italian-christmas-colors {
  color: #4d3a14;
  color: #437738;
  color: #a7cc38;
  color: #faf9db;
  color: #a51d21;
}

a {
  color: #a51d21;
  font-weight: bold;
}

a:hover {
  color: #a7cc38;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.arial {
  font-family: Arial;
}

.blue {
  background: blue;
}

body {
  background-color: #faf9db;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.green {
  background-color: green;
}

#heading-intro {
  color: #4d3a14;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.index-order-links > .index-button {
  background-color: #a51d21;
  border: 0;
  border-radius: 30px;
  color: #faf9db;
  height: 30px;
  padding: 0;
  width: 30px;
}

.index-order-links > .index-text {
  color: #a51d21;
}

.index-order-links {
  display: inline-block;
}

.index-order-links:hover .index-text {
  color: #a7cc38;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.index-order-links:hover .index-button {
  background-color: #a7cc38;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.index-header {
  border-bottom: 6px double #437738;
  color: #4d3a14;
  font-weight: bold;
  margin-top: 20px;
}

input[type='checkbox'] {
  width: 10px;
  margin: 0;
}

.login-cs50-background {
  background-color: #faf9db;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.login-toppings-background {
  border: 6px double #437738;
  border-radius: 18px;
  margin-bottom: 20px;
  padding: 20px;
}

@media (min-width: 767px) {
  .login-toppings-background {
    margin-top: 20px;
  }
}

@media (min-width: 767px) {
  .menu-login {
    padding: 0 10%;
  }
}

#navbarHeader button, .navbar button {
  background-color: #437738;
  border: 2px solid #faf9db;
  border-radius: 5px;
  color: #faf9db;
  font-weight: bold;
  padding: 5px 15px;
}

#navbarHeader button:hover, .navbar button:hover {
  background-color: #a51d21;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbarHeader button:focus, .navbar button:focus {
  outline: none;
}

#navbarHeader {
  background-color: #faf9db;
  color: #faf9db;
}

#navbarHeader input {
  border-color: #a7cc38;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  width: 60%;
}

#navbarHeader input::-webkit-input-placeholder {
  color: #437738;
  font-style: italic;
}

#navbarHeader input:-ms-input-placeholder {
  color: #437738;
  font-style: italic;
}

#navbarHeader input::-ms-input-placeholder {
  color: #437738;
  font-style: italic;
}

#navbarHeader input::placeholder {
  color: #437738;
  font-style: italic;
}

#navbarHeader input:focus {
  outline: #a51d21;
}

.navbar {
  background-color: #437738;
  color: #faf9db;
}

.navbar .container {
  background-color: #437738;
}

#nav-login {
  background-color: #437738;
  border: 2px solid #a7cc38;
  border-radius: 10px;
  margin: 20px;
}

#nav-register {
  background-color: #a51d21;
  border: 2px solid #a7cc38;
  border-radius: 10px;
  margin: 20px;
}

.no-gutters {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.orders {
  background: #f0f0f0;
  border: 2px solid #4d3a14;
  margin: auto;
  padding: 10px;
  width: 320px;
}

.padding10 {
  padding: 10px;
}

.red {
  background: red;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.selections {
  background: #f0f0f0;
  border: 2px solid #4d3a14;
  margin: 8px;
  padding: 10px;
  width: 320px;
}

.success {
  background: #f0f0f0;
  border: 2px solid green;
  margin: auto;
  padding: 10px;
  width: 320px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  margin-bottom: 0;
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  background: url("/static/orders/img/pizza-03.jpg") 50% 0 no-repeat fixed;
}

@media (min-width: 768px) {
  .jumbotron {
    background-size: 100%;
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #faf9db;
  border: 1px solid #4d3a14;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #437738;
  margin: auto;
  padding: 0;
  position: relative;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.3s;
  animation-name: animatetop;
  animation-duration: 0.3s;
}

.modal-header {
  background-color: #437738;
  color: #faf9db;
  padding: 2px 16px;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  background-color: #437738;
  color: #faf9db;
  padding: 2px 16px;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: #faf9db;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */