{% extends "orders/base.html" %}

{% block body %}
<h3>Hello, {{ user.first_name }}</h3>
<ul>
    <li>Currently logged in as: {{ user.username }}</li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>

<button onclick="tbody_array()">tbody</button>

<table id="table">
  <thead></thead>
  <tbody id="tbody">
  <!-- Regular Pizza -->
  <tr>
    <td>Regular Pizza</td>
    <td>Small</td>
    <td>Large</td>
  </tr>
  {% for item in menu %}
    {% if item.group == 'Regular Pizza' %}
      <tr id="{{ item.item }}">
        <td>{{ item.item }}</td>
        <td>{{ item.price_sm }} <input type="checkbox" name=item.item value=item.price_sm onchange="show_toppings()"></td>
        <td>{{ item.price_lg }} <input type="checkbox" name=item.item value=item.price_lg ></td>  
      </tr>
    {% endif %}
  {% endfor %}
  <tr><td>--------------------------------------</td></tr>
  <!-- Sicialian Pizza -->
  <tr>
    <td>Sicilian Pizza</td>
    <td>Small</td>
    <td>Large</td>
  </tr>
  {% for item in menu %}
    {% if item.group == 'Sicilian Pizza' %}
    <tr>
      <td>{{ item.item }}</td>
      <td>{{ item.price_sm }}</td>
      <td>{{ item.price_lg }}</td>  
    </tr>
    {% endif %}
  {% endfor %}
  <tr><td>--------------------------------------</td></tr>
  <!-- Subs -->
  <tr>
    <td>Subs</td>
    <td>Small</td>
    <td>Large</td>
  </tr>
  {% for item in menu %}
    {% if item.group == 'Subs' and item.item != 'Sausage, Peppers & Onions' %}
    <tr>
      <td>{{ item.item }}</td>
      <td>{{ item.price_sm }}</td>
      <td>{{ item.price_lg }}</td>  
    </tr>
    {% elif item.item == 'Sausage, Peppers & Onions' %}
    <tr>
      <td>{{ item.item }}</td>
      <td></td>
      <td>{{ item.price_lg }}</td>  
    </tr>  
    {% endif %}
  {% endfor %}
  <tr><td>--------------------------------------</td></tr>
  <!-- Pasta -->
  <tr>
    <td>Pasta</td>
    <td>Price</td>
  </tr>
  {% for item in menu %}
    {% if item.group == 'Pasta' %}
    <tr>
      <td>{{ item.item }}</td>
      <td>{{ item.price }}</td>
    </tr>
    {% endif %}
  {% endfor %}
  <tr><td>--------------------------------------</td></tr>
  <!-- Salads -->
  <tr>
    <td>Salads</td>
    <td>Price</td>
  </tr>
  {% for item in menu %}
    {% if item.group == 'Salads' %}
    <tr>
      <td>{{ item.item }}</td>
      <td>{{ item.price }}</td>
    </tr>
    {% endif %}
  {% endfor %}
  <tr><td>--------------------------------------</td></tr>
  <!-- Dinner Platters -->
  <tr>
    <td>Dinner Platters</td>
    <td>Small</td>
    <td>Large</td>
  </tr>
  {% for item in menu %}
    {% if item.group == 'Dinner Platters' %}
    <tr>
      <td>{{ item.item }}</td>
      <td>{{ item.price_sm }}</td>
      <td>{{ item.price_lg }}</td>  
    </tr>
    {% endif %}
  {% endfor %}
  </tbody>
  <tfoot></tfoot>
</table>

<script>
  // List all toppings here
  toppings_items = 'toppings items go here';

  // Create a new row, <tr>, that includes list of toppings, hidden by default.
  const tr = document.createElement('tr');
  const td = document.createElement('td');
  td.className = 'topping1';
  td.innerHTML = toppings_items;
  td.style.display = 'none';
  tr.append(td);

  // Testing
  // function tbody_array() {
  //   var array = []
  //   for (let i = 0; i < tbody.childNodes.length; i++) {
  //     array[i] = tbody.childNodes[i];
  //     if (array[i].id === '1 topping') {
  //       console.log(i);
  //     };
  //   };
  //   console.log(array);
  // };

  var array = [];
  var index = 0;
  for (let i = 0; i < tbody.childNodes.length; i++) {
    array[i] = tbody.childNodes[i];
    if (array[i].id === '1 topping') {
      console.log(i);
      index = i + 1;
    };
  };

  // Add toppings row <tr> to DOM. 
  document.querySelector('tbody').insertBefore(tr, tbody.childNodes[index]);

  // Show toppings list when checkbox is clicked
  toppings_visible = false;
  function show_toppings() {
    console.log('show_toppings() called successfully');

    if (toppings_visible === false) {
      toppings_visible = true;
      var topping1 = document.querySelector('.topping1');
      topping1.style.display = 'inline';
    } else {
      toppings_visible = false;
      var topping1 = document.querySelector('.topping1');
      topping1.style.display = 'none';
    };
  };
  
  // [] is CSS attribute selector
  // document.querySelector('[id="1 topping"]').append(tr); 
</script>
{% endblock %}