{% extends "orders/base.html" %}

{% block body %}
<h3>Hello, {{ user.first_name }}</h3>
<ul>
    <li>Currently logged in as: {{ user.username }}</li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>

<table id="table">
<thead></thead>
<tbody id="tbody">
  <!-- Regular Pizza -->
  <tr>
    <td>Regular Pizza</td>
    <td>Small</td>
    <td>Large</td>
  </tr>
  {% for item in menu %}
    {% if item.group == 'Regular Pizza' %}
      <tr id="{{ item.item }}">
        <td>{{ item.item }}</td>
        <td>{{ item.price_sm }} <input type="checkbox" name="{{ item.item }} + {{ item.price_sm }}" value="{{ item.price_sm }}" onclick="select_item( '{{ item.item }}', '{{ item.item }} + {{ item.price_sm }}' )" /></td>
        <td>{{ item.price_lg }} <input type="checkbox" name="{{ item.item }} + {{ item.price_lg }}" value="{{ item.price_lg }}" onclick="select_item( '{{ item.item }}', '{{ item.item }} + {{ item.price_lg }}' )" /></td>  
      </tr>
    {% endif %}
  {% endfor %}
  <tr><td>--------------------------------------</td></tr>
  <!-- Sicialian Pizza -->
  <tr>
    <td>Sicilian Pizza</td>
    <td>Small</td>
    <td>Large</td>
  </tr>
  {% for item in menu %}
    {% if item.group == 'Sicilian Pizza' %}
    <tr>
      <td>{{ item.item }}</td>
      <td>{{ item.price_sm }}</td>
      <td>{{ item.price_lg }}</td>  
    </tr>
    {% endif %}
  {% endfor %}
  <tr><td>--------------------------------------</td></tr>
  <!-- Subs -->
  <tr>
    <td>Subs</td>
    <td>Small</td>
    <td>Large</td>
  </tr>
  {% for item in menu %}
    {% if item.group == 'Subs' and item.item != 'Sausage, Peppers & Onions' %}
    <tr>
      <td>{{ item.item }}</td>
      <td>{{ item.price_sm }}</td>
      <td>{{ item.price_lg }}</td>  
    </tr>
    {% elif item.item == 'Sausage, Peppers & Onions' %}
    <tr>
      <td>{{ item.item }}</td>
      <td></td>
      <td>{{ item.price_lg }}</td>  
    </tr>  
    {% endif %}
  {% endfor %}
  <tr><td>--------------------------------------</td></tr>
  <!-- Pasta -->
  <tr>
    <td>Pasta</td>
    <td>Price</td>
  </tr>
  {% for item in menu %}
    {% if item.group == 'Pasta' %}
    <tr>
      <td>{{ item.item }}</td>
      <td>{{ item.price }}</td>
    </tr>
    {% endif %}
  {% endfor %}
  <tr><td>--------------------------------------</td></tr>
  <!-- Salads -->
  <tr>
    <td>Salads</td>
    <td>Price</td>
  </tr>
  {% for item in menu %}
    {% if item.group == 'Salads' %}
    <tr>
      <td>{{ item.item }}</td>
      <td>{{ item.price }}</td>
    </tr>
    {% endif %}
  {% endfor %}
  <tr><td>--------------------------------------</td></tr>
  <!-- Dinner Platters -->
  <tr>
    <td>Dinner Platters</td>
    <td>Small</td>
    <td>Large</td>
  </tr>
  {% for item in menu %}
    {% if item.group == 'Dinner Platters' %}
    <tr>
      <td>{{ item.item }}</td>
      <td>{{ item.price_sm }}</td>
      <td>{{ item.price_lg }}</td>  
    </tr>
    {% endif %}
  {% endfor %}
</tbody>
<tfoot></tfoot>
</table>

<script>
  // List all toppings here
  toppings_items = 'toppings items go here';

  // Create a new row, <tr>, that includes list of toppings, hidden by default.
  const tr = document.createElement('tr');
  const td = document.createElement('td');
  td.className = 'toppings';
  td.innerHTML = toppings_items;
  td.style.display = 'none';
  tr.append(td);

  // Checkbox selection & toppings variables
  toppings_visible = false;
  number_of_selections = 0;
  current_selection = "";
  previous_selection = "";

  // Handle when a user clicks a checkbox on the menu
  function select_item(tr_id, td_name) {
    number_of_selections++;
    current_selection = td_name;

    console.log('select_item(tr_id): ', tr_id);
    console.log('select_item(td_name): ', td_name);
    
    // Give var previous_selection a value since it starts off as an empty string
    if (previous_selection === "") {
      previous_selection = current_selection;
    };

    // Handle when a user clicks on an item that was either already selected, or 
    // when nothing on the menu was previously selected
    if (current_selection === previous_selection) {

      // Hide toppings
      if (number_of_selections > 1) {
        hide_toppings();

      // Show toppings
      } else {
        show_toppings(tr_id, td_name);
      };

    // User clicks on an item that was -not- already selected
    } else {

      // Hide toppings & de-select all checkboxes
      hide_toppings();

      // Show toppings
      show_toppings(tr_id, td_name);

      // Re-activate new checkbox selection
      number_of_selections = 1;
      // document.getElementsByName(param)[0].checked = true;
      // console.log(document.getElementsByName(param)[0].checked);
    };
    
    // Update var previous_selection before function exits
    previous_selection = current_selection;
  };

  // Hide toppings
  function hide_toppings() {
    if (number_of_selections > 1) {
      number_of_selections = 0;
      var toppings = document.querySelector('.toppings');
      toppings.style.display = 'none';
      toppings_visible = false;
      var input = document.getElementsByTagName('input')
      for (i = 0; i < input.length; i++) {
        input[i].checked = false;
      };
    };
  };

  // Show toppings
  function show_toppings(tr_id, td_name) {
    if (tr_id !== 'Cheese') {

      // Figure out the index of the HTML child objects of <tbody>.
      var array = [];
      var index = 0;
      for (let i = 0; i < tbody.childNodes.length; i++) {
        array[i] = tbody.childNodes[i];
        if (array[i].id === tr_id) {
          index = i + 1;
        };
      };

      console.log('show_toppings(tr_id): ', tr_id);
      console.log('show_toppings(td_name): ', td_name);

      // Add toppings row <tr> to DOM. 
      document.querySelector('tbody').insertBefore(tr, tbody.childNodes[index]);

      // Toggle toppings visibility
      var toppings = document.querySelector('.toppings');
      if (toppings_visible === false) {
        toppings_visible = true;
        toppings.style.display = 'inline';
      } else {
        toppings_visible = false;
        toppings.style.display = 'none';
      };
    };
  };
  
  // [] is CSS attribute selector
  // document.querySelector('[id="1 topping"]').append(tr); 
</script>
{% endblock %}