{% extends "orders/base.html" %}
{% load static %}

<!-- Title -->
{% block title %} Pinocchio's Pizza {% endblock %}

<!-- JavaScript -->
{% block js %} <script src="{% static 'js/login.js' %}"></script> {% endblock %}

<!-- Body -->
{% block body %}

<header>
  <div id="csrf">{% csrf_token %}</div>
  <div class="collapse" id="navbarHeader">
    <div class="container-fluid text-align-center">
      <div class="row no-gutters">

        <!-- Login -->
        <div id="nav-login" class="col-md-5 py-4">
          <h5>Login</h5>
          <form>
            <input id="username" name="username" type="text" placeholder="Username" required/><br>
            <input id="password" name="password" type="password" placeholder="Password" required/><br>
            <button id="submit-login">Login</button>
          </form>
          <div class="error-login"></div>
        </div>

        <!-- Register -->
        <div id="nav-register" class="col-md-5 ml-md-auto py-4">
          <h5>New Account</h5>
          <form>
            <input id="register-username" name="username" type="text" placeholder="Username" required/><br>
            <input id="register-password" name="password" type="password" placeholder="Password" required/><br>
            <input id="register-first-name" name="first_name" type="text" placeholder="First name" required/><br>
            <input id="register-last-name" name="last_name" type="text" placeholder="Last name" required/><br>
            <input id="register-email" name="email" type="text" placeholder="Email" required/><br>
            <button id="submit-register">Register</button>
          </form>
          <div class="error-register"></div>
        </div>

      </div>
    </div>
  </div>

  <!-- Navbar -->
  <div class="navbar box-shadow">
    <div class="container d-flex justify-content-between">
      <strong>Call: 123-4567-7890</strong>
      <button type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        Order Online
      </button>
    </div>
  </div>
</header>

<!-- Heading -->
<div class="center my-3" >
  <img src="{% static 'img/logo-01a-outline.svg' %}">  
</div>

<!-- Pizza Window -->
<section class="jumbotron text-center">
  <div class="container my-5 py-5">
  </div>
</section>

<!-- Storage for Toppings/Extras -->
<div id="storage" data-storage_toppings="{{ toppings }}" data-storage_extras="{{ extras }}"></div>

<div class="container mt-6">
  <div class="row">

    <!-- CS50 Introduction -->
    <div class="col-md-5 login-cs50-background">
      <h5>CS50 - Web Development with Python and JavaScript</h5>
      <h6>Project 3</h6>
      <p>
        This website is a redesign project for <a href="https://www.pinocchiospizza.net/">Pinocchio's Pizza & Subs</a>, a local pizza shop in Cambridge, MA. It uses the Django 2.0.3 framework along with a stock db.sqlite3 database and is stylized using Bootstrap 4's <a href="https://getbootstrap.com/docs/4.0/examples/album/">albumn template</a>. 
      </p>
    </div>

    <!-- Toppings -->
    <div class="col-md-5 ml-md-auto login-toppings-background">
      <strong>Toppings</strong>
      <div class="login-toppings"></div>
      <div class="login-extras"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 menu-login">
      <table>

        <!-- Regular Pizza -->
        <tr>
          <td><strong>Regular Pizza</strong></td>
          <td>Small</td>
          <td>Large</td>
        </tr>
        {% for item in menu %}
          {% if item.group == 'Regular Pizza' %}
            <tr id="{{ item.group }} + {{ item.item }}">
              <td>{{ item.item }}</td>
              <td>{{ item.price_sm }}</td>
              <td>{{ item.price_lg }}</td>
            </tr>
          {% endif %}
        {% endfor %}

        <tr><td colspan=3><hr></td></tr>

        <!-- Sicialian Pizza -->
        <tr>
          <td><strong>Sicilian Pizza</strong></td>
          <td>Small</td>
          <td>Large</td>
        </tr>
        {% for item in menu %}
          {% if item.group == 'Sicilian Pizza' %}
          <tr id="{{ item.group }} + {{ item.item }}">
            <td>{{ item.item }}</td>
            <td>{{ item.price_sm }}</td>
            <td>{{ item.price_lg }}</td>
          </tr>
          {% endif %}
        {% endfor %}

        <tr><td colspan=3><hr></td></tr>

        <!-- Pasta -->
        <tr>
          <td><strong>Pasta</strong></td>
          <td></td>
        </tr>
        {% for item in menu %}
          {% if item.group == 'Pasta' %}
            <tr>
              <td>{{ item.item }}</td>
              <td>{{ item.price }}</td>
            </tr>
          {% endif %}
        {% endfor %}

        <tr><td colspan=3><hr></td></tr>

        <!-- Salads -->
        <tr>
          <td><strong>Salads</strong></td>
          <td></td>
        </tr>
        {% for item in menu %}
          {% if item.group == 'Salads' %}
          <tr>
            <td>{{ item.item }}</td>
            <td>{{ item.price }}</td>  
          </tr>
          {% endif %}
        {% endfor %}

        <tr><td colspan=3><hr></td></tr>

      </table>
    </div>

    <div class="col-md-6 menu-login">
      <table>

        <!-- Subs -->
        <tr>
          <td><strong>Subs</strong></td>
          <td>Small</td>
          <td>Large</td>
        </tr>
        {% for item in menu %}
          {% if item.group == 'Subs' and item.item != 'Sausage, Peppers & Onions' %}
          <tr id="{{ item.group }} + {{ item.item }}">
              <td>{{ item.item }}</td>
              <td>{{ item.price_sm }}</td>
              <td>{{ item.price_lg }} </td>
            </tr>
          {% elif item.group == 'Subs' and item.item == 'Sausage, Peppers & Onions' %}
            <tr id="{{ item.group }} + {{ item.item }}">
              <td>{{ item.item }}</td>
              <td></td>
              <td>{{ item.price_lg }} </td>
            </tr>  
          {% endif %}
        {% endfor %}

        <tr><td colspan=3><hr></td></tr>
  
        <!-- Dinner Platters -->
        <tr>
          <td><strong>Dinner Platters</strong></td>
          <td>Small</td>
          <td>Large</td>
        </tr>
        {% for item in menu %}
          {% if item.group == 'Dinner Platters' %}
          <tr>
            <td>{{ item.item }}</td>
            <td>{{ item.price_sm }}</td>  
            <td>{{ item.price_lg }}</td>  
          </tr>
          {% endif %}
        {% endfor %}

        <tr><td colspan=3><hr></td></tr>

      </table>
    </div>

  </div>
</div>


<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>




{% endblock %}





