{% extends "orders/base.html" %}
{% load static %}

<!-- Title -->
{% block title %} Pinnochio's Pizza {% endblock %}

<!-- JavaScript -->
{% block js %} <script src="{% static 'js/login.js' %}"></script> {% endblock %}

<!-- Body -->
{% block body %}

<header>
  <div id="csrf">{% csrf_token %}</div>
  <div class="collapse" id="navbarHeader">
    <div class="container-fluid text-align-center">
      <div class="row no-gutters">

        <!-- Login -->
        <div class="col-5 py-4">
          <h5>Login</h5>
          <form>
            <input id="username" name="username" type="text" placeholder="Username" required/><br>
            <input id="password" name="password" type="password" placeholder="Password" required/><br>
            <button id="submit-login">Login</button>
          </form>
          <div class="error-login"></div>
        </div>

        <!-- Register -->
        <div class="col-6 offset-1 py-4">
          <h5>New Account</h5>
          <form>
          <!-- <form action="{% url 'register' %}" method="post"> -->
            <input id="register-username" name="username" type="text" placeholder="Username" required/><br>
            <input id="register-password" name="password" type="password" placeholder="Password" required/><br>
            <input id="register-first-name" name="first_name" type="text" placeholder="First name" required/><br>
            <input id="register-last-name" name="last_name" type="text" placeholder="Last name" required/><br>
            <input id="register-email" name="email" type="text" placeholder="Email" required/><br>
            <button id="submit-register">Register</button>
          </form>
          <div class="error-register"></div>
        </div>

      </div>
    </div>
  </div>

  <!-- Navbar -->
  <div class="navbar box-shadow">
    <div class="container-fluid d-flex justify-content-between">
      <strong class="ml-2">Pinnochio's Pizza</strong>
      <button type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        Order Online
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
  </div>
</footer>




{% endblock %}
















<!-- <div class="row">
  <div class="login-white-banner col-6">
    <h4>Login</h4>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <input name="username" type="text" placeholder="Username" /><br>
      <input name="password" type="password" placeholder="Password" /><br>
      <input id="submit_login" type="submit" value="Login" />
    </form>
    {% if login_error_message %}
      {{ login_error_message }}
    {% endif %}
  </div>

  <div class="login-white-banner col-6">
    <h4>Register</h4>
    <form action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <input name="username" type="text" placeholder="Username" /> *<br>
      <input name="password" type="password" placeholder="Password" /> *<br>
      <input name="first_name" type="text" placeholder="First name" /> *<br>
      <input name="last_name" type="text" placeholder="Last name" /> *<br>
      <input name="email" type="text" placeholder="Email" /> *<br>
      <input id="submit_register" type="submit" value="Register" />
    </form>
    * indicates a required field
    {% if register_error_message %}
    {{ register_error_message }}
    {% endif %}
  </div>
</div> -->