{% extends "orders/base.html" %}
{% load static %}

<!-- Title -->
{% block title %} Order {% endblock %}

<!-- JavaScript -->
{% block js %} <script src="{% static 'js/orders.js' %}"></script> {% endblock %}

<!-- Body -->
{% block body %}

<div class="arial padding10">
  <div>
    <ul>
      <li>Currently logged in as: <span id="user">{{ user.username }}</span></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    <form action="{% url 'index' %}" method="get">
      <button>Back to Menu</button>
    </form>  
  </div>
</div>

<span id="csrf">{% csrf_token %}</span>
  
<!-- Display Order -->
<div class="container">
  <div class="orders">
    <div id="display_orders"></div>
    <p>Total: $<span id="total_price"></span></p>
  </div>
</div>

{% endblock %}